.checkout{
    display: flex;
    height: max-content;
    background-color: #fff;
    padding: 20px;
}
.checkout-ad{
    width: 100%;
    
    object-fit: cover;
    background-color: black;
   
    
}
.checkout-title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.Subtotal{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.Subtotal-gift{
    display: flex;
    align-items: center;
}
.Subtotal-gift>input{
    margin-top: 5px;
}
.Subtotal>button{
    background: #f0c14b;
    width: 100%;
    height: 30px;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.Checkout-product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Checkout-productimg{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.Checkout-productinfo{
    padding-left: 20px;
}
.Checkout-productinfo>button{
    background: #f0c14b;
 
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.Checkout-productrating{
    display: flex;
}
.Checkout-producttitle{
    font-size: 17px;
    font-weight: 800;
}